# Arquivos de ambiente virtual
venv/
.env/

# Arquivos de cache Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de banco de dados SQLite
*.sqlite3

# Arquivos de log
*.log

# Arquivos de configuração do sistema
.idea/
.vscode/

# Configurações e caches do Jupyter
.ipynb_checkpoints/

# Dependências do Python
Pipfile
Pipfile.lock
