body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 15px 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toolbar-links a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.toolbar-links a:hover {
    text-decoration: underline;
}

.toolbar-info {
    display: flex;
    align-items: center;
}

.search-toolbar-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-toolbar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}

.icon-search-toolbar {
    background: #0056b3;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.icon-search-toolbar:hover {
    background: #003f8a;
}

.banner {
    background-color: #007bff;
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner h1 {
    margin: 0;
    font-size: 2em;
}

.search-container {
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.search-container form {
    display: flex;
    justify-content: center;
}

.search {
    width: 70%;
    padding: 10px;
    margin-right: -1px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.icon-search {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.icon-search:hover {
    background: #0056b3;
}
