body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toolbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.toolbar a:hover {
    text-decoration: underline;
}

.toolbar form {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.toolbar input {
    padding: 5px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.toolbar button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.toolbar button:hover {
    background-color: #004494;
}

/* Estilo para o link "Bem-vindo, Nome do Usuário" */
.user-name-link {
    cursor: pointer;
    text-decoration: underline;
    color: white;  /* Cor do link */
    margin-right: 20px; /* Espaço à direita do nome */
    font-weight: bold;
}

.user-name-link:hover {
    color: #00b3ff; /* Cor ao passar o mouse */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
