<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    <title>Docsnaipa - Cadastrar Usuário</title>
</head>
<body>
    <div class="login-container">
        <h1>Cadastro</h1>
        <form action="/cadastro" method="POST">
            <input type="text" class="input-field" placeholder="Login" name="login" required>
            <input type="password" class="input-field" placeholder="Senha" name="senha" required>
            <input type="text" class="input-field" placeholder="Nome" name="nome" required>
            <button type="submit">Registrar</button>
        </form>
        <p>Já tem uma conta? <a href="{{ url_for('login_route') }}">Faça login aqui</a></p>
    </div>

    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</body>
</html>
