<!DOCTYPE html>
<html lang="pt-BR" id="app-portal">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Docsnaipa - Meu Portal</title>
</head>
<body>
    <div class="toolbar">
        <a href="/home">Home</a>
        <a href="/minhas-tarefas">Minhas Tarefas</a>
        <a href="/meu-portal">Meu Portal</a>
        <span>Bem-vindo, {{ current_user.name_user }}</span>
        <form id="search-form-toolbar" action="/pesquisa_documentos" method="get" class="search-toolbar-container">
            <input type="text" placeholder="Pesquisar documentos..." class="search-toolbar" name="document">
            <button type="submit" class="icon-search-toolbar"><i class="fas fa-search"></i></button>
        </form>
    </div>
    
    <h1>Meu Portal</h1>
    <p>Inicialize um Workflow:</p>
    
    <!-- Seleção de ação -->
    <select id="action-select" onchange="toggleForm()">
        <option value="">Selecione uma ação</option>
        <option value="create">Criar Documento</option>
        <option value="review">Revisar Documento</option>
        <option value="cancel">Cancelar Documento</option>
    </select>

<!-- Formulário de criação de documento -->
<div class="form-container" id="create-form" style="display: none;">
    <form id="document-form" action="/inserir-documento" method="POST" enctype="multipart/form-data">
        <h2>Criar Documento</h2>
        
        <label for="identificador">Identificador:</label>
        <input type="text" id="identificador" name="identificadorCriacao" required>

        <label for="nome-documento">Nome do Documento:</label>
        <input type="text" id="nome-documento" name="nome_documentoCriacao" required>

        <label for="categoria">Categoria:</label>
        <select id="categoria" name="categoriaCriacao" required>
            <option value="" disabled selected>Selecione uma categoria</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.IDCATEGORY }}">{{ categoria.IDENTIFIER }}</option>
            {% endfor %}
        </select>

        <label for="motivo-cancel">Motivo:</label>
        <textarea id="motivo-cancel" name="motivo" placeholder="Descreva o motivo da criação" required></textarea>

        <label for="pdf-file">Arquivo PDF:</label>
        <input type="file" id="pdf-file" name="file" accept=".pdf" required>

        <input type="hidden" id="autor" name="autor" value="{{ current_user.name_user }}">
        <input type="hidden" id="current" name="current" value="1">

        <button type="submit" id="submit-btn">Enviar para Aprovação</button>
    </form>
</div>

<!-- Formulário de revisão de documento -->
<div class="form-container" id="review-form" style="display: none;">
    <form id="review-document-form" action="/revisar-documento" method="POST" enctype="multipart/form-data">
        <h2>Revisar Documento</h2>
        
        <label for="identificador-review">Identificador:</label>
        <select id="identificador-review" name="identificador" required>
            <option value="" disabled selected>Selecione um identificador</option>
            {% for documento in documentos %}
                <option value="{{ documento.CDDOCUMENT }}">{{ documento.IDDOCUMENT }}</option>
            {% endfor %}
        </select>

        <label for="nome-documento-review">Nome do Documento:</label>
        <input type="text" id="nome-documento-review" name="nome_documento" placeholder="Digite o nome do documento" required>

        <label for="categoria-review">Categoria:</label>
        <select id="categoria-review" name="categoria" required>
            <option value="" disabled selected>Selecione uma categoria</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.IDCATEGORY }}">{{ categoria.IDENTIFIER }}</option>
            {% endfor %}
        </select>

        <label for="motivo-cancel">Motivo:</label>
        <textarea id="motivo-cancel" name="motivo" placeholder="Descreva o motivo da revisão" required></textarea>

        <label for="pdf-file-review">Arquivo PDF:</label>
        <input type="file" id="pdf-file-review" name="pdf_file" accept=".pdf" required>

        <input type="hidden" id="autor" name="autor" value="{{ current_user.name_user }}">

        <button type="submit" id="review-btn">Revisar Documento</button>
    </form>
</div>


<!-- Formulário de cancelar documento -->
<div class="form-container" id="cancel-form" style="display: none;">
    <form id="cancel-document-form" action="/cancelar-documento" method="POST">
        <h2>Cancelar Documento</h2>
        
        <label for="identificador-cancel">Identificador:</label>
        <select id="identificador-cancel" name="identificador" required>
            <option value="" disabled selected>Selecione um identificador</option>
            {% for documento in documentos %}
                <option value="{{ documento.CDDOCUMENT }}">{{ documento.IDDOCUMENT }}</option>
            {% endfor %}
        </select>

        <label for="motivo-cancel">Motivo:</label>
        <textarea id="motivo-cancel" name="motivo" placeholder="Descreva o motivo do cancelamento" required></textarea>

        <input type="hidden" id="autor" name="autor" value="{{ current_user.name_user }}">

        <button type="submit" id="cancel-btn">Cancelar Documento</button>
    </form>
</div>


    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
    <script>
        // Função para alternar a exibição dos formulários
        function toggleForm() {
            const action = document.getElementById('action-select').value;
            document.getElementById('create-form').style.display = 'none';
            document.getElementById('cancel-form').style.display = 'none';
            document.getElementById('review-form').style.display = 'none';

            if (action === 'create') {
                document.getElementById('create-form').style.display = 'block';
            } else if (action === 'review') {
                document.getElementById('review-form').style.display = 'block';
            } else if (action === 'cancel') {
                document.getElementById('cancel-form').style.display = 'block';
            }
        }
    </script>
</body>
</html>
