<!DOCTYPE html>
<html lang="pt-BR" id="app-tasks">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Docsnaipa - Minhas Tarefas</title>
</head>
<body>
    <div class="toolbar">
        <a href="/home">Home</a>
        <a href="/minhas-tarefas">Minhas Tarefas</a>
        <a href="/meu-portal">Meu Portal</a>
        <span>Bem-vindo, {{ current_user.name_user }}</span>
        <form id="search-form" action="/pesquisa_documentos" method="get" class="search-toolbar-container">
            <input type="text" placeholder="Pesquisar documentos..." class="search-toolbar" name="document">
            <span class="icon-search-toolbar"><i class="fas fa-search"></i></span>
        </form>
    </div>
    
    <h1>Minhas Tarefas</h1>
    
    <!-- Lista de Tarefas -->

    <div class="tasks-container">
        <ul>
            {% for tarefa in tarefas %}
                <li>
                    Documento: {{ tarefa['form_id'] }} - Status do Workflow: {{ tarefa['workflow_status'] }}
                    <form action="/aprovar_reprovar/{{ tarefa['id'] }}" method="POST" style="display: inline;">
                        <button type="submit" name="status" value="APROVADO" class="approve-button">Aprovar</button>
                        <button type="submit" name="status" value="REPROVADO" class="reject-button">Reprovar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
    <script>
        // Função para submeter a busca
        function submitSearch() {
            const searchForm = document.getElementById('search-form');
            searchForm.submit();
        }
        
        // Lidar com a tecla Enter no campo de busca
        document.getElementById('search-input').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                submitSearch();
            }
        });
    </script>
</body>
</html>
