<!DOCTYPE html>
<html lang="pt-BR" id="app-search">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Docsnaipa - Pesquisa de Documentos</title>
</head>
<body>
    <div class="toolbar">
        <a href="/home">Home</a>
        <a href="/minhas-tarefas">Minhas Tarefas</a>
        <a href="/meu-portal">Meu Portal</a>
        
        <!-- Formulário de busca -->
        <form id="search-form" action="/pesquisa_documentos" method="get" class="search-toolbar-container" onsubmit="event.preventDefault(); submitSearch()">
            <input type="text" placeholder="Pesquisar documentos..." class="search-toolbar" name="document" id="search-input">
            <span class="icon-search-toolbar" onclick="submitSearch()"><i class="fas fa-search"></i></span>
        </form>
    </div>
    
    <h1>Pesquisa de Documentos</h1>
    <ul>
        {% for doc in documentos %}
            <li>{{ doc['nome_documento'] }} - {{ doc['conteudo'] }}</li>
        {% else %}
            <li>Nenhum documento encontrado.</li>
        {% endfor %}
    </ul>
    
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
    <script>
        // Função para submeter a busca
        function submitSearch() {
            document.getElementById('search-form').submit();
        }
    </script>
</body>
</html>
