<!DOCTYPE html>
<html lang="pt-BR" id="app-users">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Docsnaipa - Usuários</title>
</head>
<body>
    <div class="toolbar">
        <a href="/home">Home</a>
        <a href="/minhas-tarefas">Minhas Tarefas</a>
        <a href="/meu-portal">Meu Portal</a>
        <span>Bem-vindo, {{ current_user.name_user }}</span>
        <form id="search-form-toolbar" action="/pesquisa_documentos" method="get" class="search-toolbar-container">
            <input type="text" placeholder="Pesquisar documentos..." class="search-toolbar" name="document">
            <button type="submit" class="icon-search-toolbar"><i class="fas fa-search"></i></button>
        </form>
    </div>
    
    <h1>Gerenciar Usuários</h1>
    <ul>
        <li>Usuário 1 <button>Excluir</button></li>
        <li>Usuário 2 <button>Excluir</button></li>
        <li>Usuário 3 <button>Excluir</button></li>
    </ul>
    <button>Cadastrar Novo Usuário</button>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</body>
</html>
